* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: #e64a19;
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
}
.card {
  position: relative;
  background-color: white;
  cursor: pointer;
}
.card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 8rem;
}
.card.x::before {
  content: "X";
}
.card.o::before {
  content: "O";
}
.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 200px;
  padding: 20px 40px;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  animation: animate 0.5s linear;
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.winner button {
  margin-top: 20px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: black;
}
