.container-1 {
  border: 1px black solid;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.flex-box-container-1 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box-container-1 div {
  display: flex;
  padding: 10px;
}
