.container-5{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url("https://media.istockphoto.com/photos/green-poker-table-background-picture-id643199720?k=6&m=643199720&s=170667a&w=0&h=a6gzxiCk7LHz-l1oDNsXfCcUQXkuIfdw9AV4KFroYqg=") center;
    color: #ffff;
   

}
.flex-blackjack-row-1 div{
    border: 1px black solid;
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;
}
.flex-blackjack-row-1 img{
    width: 25%;
padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px black solid;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    border: 1px black solid;
    padding: 10px;
}
table,th,tr{
    padding: 5px;
    border: 1px solid black;
}