.container-2 {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px blue solid;
}
.flex-box-container-2 img {
  border: 1px solid green;
  width: 40vh;
  margin: 10px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
}
